<a href="https://colab.research.google.com/github/mehak-kalia/COE_Sabudh_Assignments-to-dos/blob/main/Pandas_Coursework_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

#### Import the dataset

In [ ]:
from google.colab import files
euro12=pd.read_csv("https://drive.google.com/uc?id=1aRAnz_0smYl-A-wXChvD8hSyOnKx0z8h")

#### Assign it to a variable called euro12.

In [ ]:


print(euro12)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Saves made  \
0              0              0                     0  ...          13
1              0              0                     0  ...           9
2              1              0                     0  ...          10
3              0              0                     0  ...          22
4              1              0                     0  ...           6
5              2              1                     0  ...          10
6              1              1                     1  ...          13
7              2              0                     0  ...          20
8              2              0                     0  ...          12
9              0              0                     0  ...           6
10             6              0                     0  ...          10
11             0              0                     0  ...          17
12             2              0                     0  ...          10
13             0              1                     0  ...          15
14             3              0                     0  ...           8
15             0              0                     0  ...          13

    Saves-to-shots ratio  Fouls Won Fouls Conceded  Offsides  Yellow Cards  \
0                  81.3%         41             62         2             9
1                  60.1%         53             73         8             7
2                  66.7%         25             38         8             4
3                  88.1%         43             45         6             5
4                  54.6%         36             51         5             6
5                  62.6%         63             49        12             4
6                  65.1%         67             48        12             9
7                  74.1%        101             89        16            16
8                  70.6%         35             30         3             5
9                  66.7%         48             56         3             7
10                 71.5%         73             90        10            12
11                 65.4%         43             51        11             6
12                 77.0%         34             43         4             6
13                 93.8%        102             83        19            11
14                 61.6%         35             51         7             7
15                 76.5%         48             31         4             5

    Red Cards  Subs on  Subs off  Players Used
0           0        9         9            16
1           0       11        11            19
2           0        7         7            15
3           0       11        11            16
4           0       11        11            19
5           0       15        15            17
6           1       12        12            20
7           0       18        18            19
8           0        7         7            15
9           1        7         7            17
10          0       14        14            16
11          1       10        10            17
12          0        7         7            16
13          0       17        17            18
14          0        9         9            18
15          0        9         9            18

[16 rows x 35 columns]

#### Select only the Goal column.

In [ ]:
goals = euro12['Goals']

print(goals)

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

#### How many team participated in the Euro2012?

In [ ]:
print(len(euro12['Team']))

16

#### What is the number of columns in the dataset?

In [ ]:
print(len(euro12.columns))

35

#### View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [ ]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']].copy()

print(discipline)

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

#### Sort the teams by Red Cards, then to Yellow Cards

In [ ]:
print(euro12['Red Cards'].sort_values)
print(euro12['Yellow Cards'].sort_values)

<bound method Series.sort_values of 0     0
1     0
2     0
3     0
4     0
5     0
6     1
7     0
8     0
9     1
10    0
11    1
12    0
13    0
14    0
15    0
Name: Red Cards, dtype: int64>
<bound method Series.sort_values of 0      9
1      7
2      4
3      5
4      6
5      4
6      9
7     16
8      5
9      7
10    12
11     6
12     6
13    11
14     7
15     5
Name: Yellow Cards, dtype: int64>

#### Calculate the mean Yellow Cards given per Team

In [ ]:
print(euro12['Yellow Cards'].mean())

7.4375

#### Filter teams that scored more than 6 goals

In [ ]:
print(euro12['Team'].filter(euro12['Goals']>6))

False    NaN
False    NaN
False    NaN
False    NaN
False    NaN
True     NaN
False    NaN
False    NaN
False    NaN
False    NaN
False    NaN
False    NaN
False    NaN
True     NaN
False    NaN
False    NaN
Name: Team, dtype: object

#### Present only the Shooting Accuracy from England, Italy and Russia

In [ ]:

printeuro12.loc[
           euro12.Team.isin(['England','Italy','Russia' ]),
           ['Team', 'Shooting Accuracy']
           ]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

#### Now using the raw data below, perform actions

In [ ]:
# Create an example dataframe about a fictional army
army = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

#### Set the 'origin' colum as the index of the dataframe

In [ ]:
a1= pd.DataFrame.from_dict(army)

####

In [ ]:
a2 = a1.set_index('origin')

print(a2)

####

####

####

####

####